.navbar-brand {
  padding: 8px 5px;
  width: 250px;
}
.navbar-brand img {
  float: left;
  width: 50px;
}
.navbar-brand p {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 60px;
}
.footer {
  background-color: whitesmoke;
}
.footer li {
  color: grey;
}
.col-md-1, .col-md-6 {
  /*border: 1px solid blue;*/
  /*height: 500px;*/
}
.col-md-1 h1, .col-md-6 h1 {
  text-align: center;
}
.well {
  /*height: 250px;*/
  /*margin-bottom: 100px;*/
}
.carousel-control.left, .carousel-control.right {
  background-image: none
}
.carousel-caption {
  /*border: 1px solid red;*/
}
#slide1 li {
  color: black;
  text-align: left;
  list-style-type: none;
  text-shadow: none;
  font-size: 1.4em;
}
#slide5 .carousel-caption {
  left: 13%;
  right: 13%;
  padding: 0;
}
.hotspot {
  border: 3px solid orange;
  background-color: #E6E6E6;
  border-radius: 10px;
  color: grey;
  width: 200px;
  height: 150px;
}
.hotspot h5 {
  margin-left: 10px;
  color: #3366CC;
}
.hotspot p {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.hotspot em {
  color: #33CC33;
}
#hotspot-gold {
  position: relative;
}
#hotspot-gold-message {
  position: absolute;
  top: 45%;
  left: 30%;
}
#hotspot-equities {
  position: relative;
}
#hotspot-equities-message {
  position: absolute;
  top: 40%;
  left: 33%;
}
#hotspot-realestate {
  position: relative;
}
#hotspot-realestate-message {
  position: absolute;
  top: 35%;
  left: 35%;
}
#hotspot-shariah {
  position: relative;
}
#hotspot-shariah-message {
  position: absolute;
  top: 25%;
  left: 35%;
}
#hotspot-sukuks {
  position: relative;
}
#hotspot-sukuks-message {
  position: absolute;
  top: 20%;
  left: 35%;
}
#hotspot-translogistics {
  position: relative;
}
#hotspot-translogistics-message {
  position: absolute;
  top: 35%;
  left: 30%;
}
#hotspot-2013 {
  position: relative;
}
#hotspot-2013-message {
  position: absolute;
  top: 50%;
  left: 50%;
}
#hotspot-2014 {
  position: relative;
}
#hotspot-2014-message {
  position: absolute;
  top: 50%;
  left: 62%;
}

