.navbar-brand {
  padding: 8px 5px;
  width: 250px;
}
.navbar-brand img {
  float: left;
  width: 50px;
}
.navbar-brand p {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 60px;
}
.footer {
  background-color: whitesmoke;
}
.footer li {
  color: grey;
}
.col-md-2, .col-md-4 {
  border: 1px solid blue;
  text-align: center;
  height: 500px;
}
