.navbar-brand {
  padding: 8px 5px;
  width: 250px;
}
.navbar-brand img {
  float: left;
  width: 50px;
}
.navbar-brand p {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 60px;
}
.footer {
  background-color: whitesmoke;
}
.footer li {
  color: grey;
}
.col-md-1, .col-md-6 {
  /*border: 1px solid blue;*/
  /*height: 500px;*/
}
.col-md-1 h1, .col-md-6 h1 {
  text-align: center;
}
.well {
  /*height: 250px;*/
  /*margin-bottom: 100px;*/
}
.carousel-control.left, .carousel-control.right {
  background-image: none
}
.carousel-caption {
  /*border: 1px solid red;*/
}
#slide1 li {
  color: black;
  text-align: left;
  list-style-type: none;
  text-shadow: none;
  font-size: 1.4em;
}

#slide2 .carousel-caption {
  background-image: url("../images/timeline(1200_800)(2).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  left: 13%;
  right: 13%;
  padding: 0;
}
#slide5 .carousel-caption {
  left: 13%;
  right: 13%;
  padding: 0;
}
#hotspot1 {
  border: 1px solid green;
  border-radius: 50%;
  position: relative;
  left: 2.5%;
}
#hotspot1:hover {
  border: 2px solid red;
  cursor: pointer;
}
#hotspot1 p {
  border: 1px solid green;
  position: relative;
  width: 200px;
  top: -40px;
}
#hotspot2 {
  border: 1px solid green;
  border-radius: 50%;
  position: relative;
  left: 24%;
}
#hotspot2:hover {
  border: 2px solid red;
  cursor: pointer;
}
#hotspot2 p {
  border: 1px solid green;
  position: relative;
  width: 200px;
  top: -40px;
}
#slide6 .carousel-caption {
  /*border: 1px solid green;*/
  left: 15%;
  right: 15%;
  padding: 0;
}

#hotspot11 {
  border: 1px solid green;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 69%;
  left: 71%;
}
